/*ListUser.css*/
/* AddUser Card Styles */
.user-card {
    border: 1px solid #ddd; /* Light border for card */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.2s;
    max-height: 300px; /* Set a max height to control the card size */
    max-width: 320px; /* Set a max height to control the card size */
    background-color: #fff; /* White background for cards */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
    /*margin: 5px; !* Space between cards *!*/

    /*display: flex; !* Or use grid *!*/
    /*gap: 20px; !* Space between cards *!*/
    /*flex-wrap: wrap; !* Allows cards to wrap to the next line *!*/
}

.btn-update-user {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background-color: #E9967A; /* Dark salmon background */
    border-color: #E9967A; /* Dark salmon border */
    color: #fff; /* White text */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-update-user:hover {
    background-color: #d78b6b; /* Slightly darker salmon */
    border-color: #d78b6b; /* Darker salmon border */
    color: #fff; /* White text */
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.card-title {
    font-size: 1.25rem; /* Slightly smaller font size */
    font-weight: bold;
    color: #E9967A; /* Dark salmon color */
}

.card-subtitle {
    font-size: 1.1rem; /* Slightly smaller font size */
    color: #6c757d; /* Muted text color */
}

.card-text {
    color: #333; /* Dark grey color for text */
}

.btn-info {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background-color: #E9967A; /* Dark salmon background */
    border-color: #E9967A; /* Dark salmon border */
}

.btn-info:hover {
    background-color: #d78b6b; /* Slightly darker salmon */
    border-color: #d78b6b; /* Darker salmon border */
}

.text-muted {
    color: #6c757d; /* Muted text color */
}

/*.card-container {*/
/*    display: flex; !* Or use grid *!*/
/*    gap: 20px; !* Space between cards *!*/
/*    flex-wrap: wrap; !* Allows cards to wrap to the next line *!*/
/*}*/

.container {
    background-color: #f8f9fa; /* Light grey background for the container */
}

h2 {
    color: #E9967A;
    font-weight: bold;
    border-bottom: 1px solid #6c757d;
    padding-bottom: 1rem;
    padding-left: 5px;
}

.btnAddUser {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background: #282E33;
    width: 300px;
    height: 50px;
    color: #E9967A;
    border: 1px solid #E9967A;
    position: relative;
    top: 50px;
    left: 15px;
    margin-bottom: 70px;
}