/* src/components/Layout.css */

.layout1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    height: 60px; /* Set the height for the navbar */
    flex-shrink: 0;
    background-color: #343a40; /* Example background color */
    color: #ffffff; /* Example text color */
    display: flex;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
    z-index: 1000; /* Ensure the navbar is on top */
}

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 60px; /* Offset the height of the navbar */
}



.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: hidden;
    background-color: #ffffff;
}



.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    cursor: pointer;
}

.menu-list {
    position: absolute;
    right: 0;
    top: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    z-index: 1000; /* Ensure the menu is on top */
}

.dropdown-list {
    padding-left: 20px;
}
