/* Layout.css */

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: none;
}

/* Navbar styling */
.navbar {
    width: 100%;
    height: 60px; /* Adjust height as needed */
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Sidebar styling */
.sidebar {
    width: 200px; /* Adjust width as needed */
    background-color: #555;
    color: black;
    position: fixed;
    top: 20px; /* Aligns below the navbar */
    left: 0;
    height: calc(100vh - 60px); /* Takes up remaining vertical space */
    z-index: 900;
}

/* Content row styling */
.content-row {
    display: flex;
    flex: 1;
    margin-top: 50px;
    margin-left: 200px; /* Shifts content right to account for the sidebar */
    justify-content: center;
    align-items: center;

}

/* Main content styling */
.main-content {
    background: none;
    width: 100%;
    max-width: 1080px; /* Adjust max width as needed */
    margin: auto; /* Center content within available space */
}

