/* HomePage.css */

.forScroll {
    height: 100vh; /* Take full viewport height */
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    /*padding: 20px; !* Optional: Add padding for better spacing *!*/
    margin-left: 120px;
}

.listcontainer {
    display: flex;
    flex-direction: column;
    gap: 100px;
    min-height: 100%; /* Allow content to take full height */
    overflow: hidden; /* Ensure children content isn't cut off */
}


.video-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.video-container video {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.track {
    color: #E9967A;
}

.home-button-container {
    display: flex;
    gap: 100px;
}


.btnAddRole,
.btnAssignTeamLeader {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background: #282E33;
    width: 170px;
    height: 100px;
    color: #E9967A;
    border: 1px solid #E9967A;
}

.btnAddUser:hover,
.btnAddRole:hover,
.btnAssignTeamLeader:hover {
    background: #E9967A;
    color: #282E33;
    border: 1px solid #282E33;
}

.text-bg-dark {
    color: #E9967A;
}

.assign-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background: #E9967A;
    color: #282E33;
}

.btn:hover {
    background: #282E33;
    border: 2px solid #282E33;
    color: #E9967A;
}

.Assigncontent {
    width: 500px;
    margin-top: 20px;
    position: relative;
    left: 20px;
    border-right: 1px solid #ccc;
    padding: 30px;

}

.rolecontent {
    width: 500px;
    margin-top: 20px;
    border-left: 1px solid #ccc;
    padding: 30px;
}

.manage-homePage {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 70px;
}