.addtask-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.addtask-modal-content {
    background: #2f3640;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    max-height: 90%;
    color: #dcdde1;
    overflow-y: auto;
}

.modal-task-input {
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    background: #3c4451;
    color: #dcdde1;
    border: 1px solid #7f8fa6;
}

.modal-description-textarea {
    width: 100%;
    padding: 8px;
    height: 150px;
    margin-bottom: 20px;
    resize: vertical;
    margin-top: 20px;
    background: #3c4451;
    color: #dcdde1;
    border: 1px solid #7f8fa6;
    text-align: left;
}

.modal-due-date-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.modal-priority-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}


.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.selected-date {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}


.modal-add-button {
    margin-top: 20px;
    background-color: #7f8fa6;
    color: white;
}

.modal-cancel-button {

    margin-top: 20px;
    background-color: #7f8fa6;
    color: white;
}


.modal-add-button:hover {
    background-color: darksalmon; /* Darker shade for hover effect */
    color: #0b0a0a;
}

.modal-cancel-button:hover {
    background-color: darksalmon; /* Darker shade for hover effect */
    color: #0b0a0a;
}

.priority-dropdown {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #3c4451;
    color: #dcdde1;
    border: 1px solid #7f8fa6;
}
.custom-calendar {
    margin-top: 20px; /* Adjust this value to move the calendar down */
}
.user-dropdown{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #3c4451;
    color: #dcdde1;
    border: 1px solid #7f8fa6;
}
.priority-options {
    margin-top: 40px;
}
.user-options {
    margin-top: 10px;
}
.paragraph{
    color:white;
}