/* DeleteMember.css */
.delete-member-popup {
    padding: 20px;
    background-color: #282E33; /* Darker background for consistency */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for better contrast */
    max-width: 320px;
    margin-top: 20px;
    color: white; /* Ensure text is readable on the dark background */
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border: 1px solid #E9967A; /* Dark Salmon border */
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 450px;
}

.member-item:hover {
    background-color: #f0f0f0; /* Light gray for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted shadow */
}

.secondary-nav-button {
    margin: 0 1px;
    background-color: #E9967A; /* Dark Salmon */
    color: white;
    padding: 5px 10px;
    font-weight: bolder;
    letter-spacing: 1px;
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
}

.secondary-nav-button:hover {
    background-color: #d78b6d; /* Slightly darker Dark Salmon */
    color: #282E33; /* Darker text color for contrast */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}
