.layout {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Make the sidebar full height */
    position: fixed; /* Fix the sidebar to the viewport */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    padding: 15px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Add scrolling if the content overflows */
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-icon {
    width: 24px; /* Adjust the size as necessary */
    height: 24px; /* Adjust the size as necessary */
    margin-right: 10px; /* Adjust this value as necessary */
}

.sidebar-text {
    color: #333; /* Adjust the text color */
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.projects-header {
    display: flex;
    align-items: center;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    cursor: pointer;
    margin-left: 10px; /* Ensures some space between the Projects text and the toggle */
}

.menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-list li {
    padding: 8px 12px;
    cursor: pointer;
}

.menu-list li:hover {
    background-color: #f4f4f4;
}

.dropdown-list {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.main-content {
    flex-grow: 1;
    padding: 15px;
    margin-left: 250px; /* Add space for the fixed sidebar */
}

.content {
    margin: 0 auto;
    width: 80%;
}
