/* PriorityModal.css */
.priority-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.priorityheader{
    margin-top: 10px;
    margin-bottom: 20px;
}
.priority-modal-content {
    background: #282E33;
    padding: 20px;
    border-radius: 8px;
    color: #dcdde1;
    width: 300px;
    text-align: center;
}

.priority-options {
        display: flex;
        flex-direction: column; /* Stack buttons vertically */
        margin-top: 20px;
}



.priority-option {
    background: #34495e;
    color: #dcdde1;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.priority-option.selected {
    background: darksalmon; /* Highlight the selected priority */
}

.priority-option:hover {
    background: darksalmon;
}

.save-button {
    background: #7f8fa6;
    color: #dcdde1;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.save-button:hover {
    background: darksalmon;
}
