/* src/components/ProjectReport.css */

/* Ensure the report-page container handles overflow */
.report-page {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: auto; /* Enable scrolling if needed */
}

/* Container for both chart and table with overflow handling */
.scroll-container {
    max-height: 500px; /* Adjust this value as needed */
    overflow: auto; /* Enable scrolling if needed */
    background-color: #f4f4f9;
}

/* Ensure the chart container handles overflow */
.chart-container {
    margin-top: 20px;
    max-width: 100%; /* Ensure the chart container is responsive */
}

/* Ensure the table container handles overflow */
.table-container {
    margin-top: 20px; /* Add some space above the table */
    width: 100%;
}

/* Ensure the table handles overflow and remains responsive */
.report-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Ensure table can scroll horizontally */
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.report-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

.report-table td {
    word-wrap: break-word; /* To handle long text in cells */
}

/* Project report styling */
.project-report {
    color: darksalmon; /* Default color for the text */
}

.project-name {
    color: black; /* Color for the project name */
}

.priority-high {
    color: #ae2e24; /* Red for high priority */
    width: 80px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f4f4f9;
}

.priority-medium {
    color: #7f5f01; /* Yellow for medium priority */
    width: 80px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f4f4f9;
}

.priority-low {
    color: #216e4e; /* Green for low priority */
    width: 80px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    background-color: #f4f4f9;
}