/* src/components/projects.css */

.projectscon {
    /*display: flex;*/
    /*justify-content: flex-end; !* Aligns items to the right *!*/

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    height: 400px;

    margin: auto;
    background-color: #f4f4f9; /* Light background for better contrast */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    width: 500px;
}
.projectsconM {
    /*display: flex;*/
    /*justify-content: flex-end; !* Aligns items to the right *!*/
    overflow-y: scroll;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 500px;
    height: 400px;

    margin: 20px;
    background-color: #f4f4f9; /* Light background for better contrast */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    width: 350px;
}

.flex-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.projectImg {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: #2c3e50;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    overflow: hidden;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    color: #555;
}

button {
    background-color: #7f8fa6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

button:hover {
    background-color: darksalmon;
    transform: scale(1.05);
    color: #333333;
}

.btn-secondary {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-secondary:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.project-header {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.project-header h1 {
    flex: 1;
}

.project-header button {
    flex-shrink: 0;
}

/* src/components/Projects.css */

.delete-members-popup {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    margin-top: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 700px;
}

.delete-members-button {
    background-color: #2f3640;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-members-button:hover {
    background-color: darksalmon;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.show {
    display: block;
}

.projectIcon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.projectIcon img {
    display: block; /* Ensure there is no extra space around the image */
}

.delete-image-button {
    position: absolute;
    top: 0;
    right: -10px; /* Adjust this value to move the button further to the right */
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    opacity: 0; /* Hide button by default */
    transition: opacity 0.3s, background 0.3s;
}

.projectIcon:hover .delete-image-button {
    opacity: 1; /* Show button when hovering over the image */
}

.delete-image-button:hover {
    background: darksalmon;
    color: #fff;
}
.delete-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}