/* src/components/projects.css */

.projectscon {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    height: 400px;
    margin: auto;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 600px;
}

.projectsconM {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 500px;
    height: 400px;
    margin: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.flex-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}


.projectImg {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
    color: #2c3e50;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    overflow: hidden;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
    color: #555;
}


button {
    background-color: #7f8fa6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

button:hover {
    background-color: darksalmon;
    transform: scale(1.05);
    color: #333333;
}

.btn-secondary {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-secondary:hover {
    background-color: #218838;
    transform: scale(1.05);
}


.project-header {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.project-header h1 {
    flex: 1;
}

.project-header button {
    flex-shrink: 0;
}

.delete-members-popup {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    margin-top: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 700px;
}


.delete-members-button {
    background-color: #2f3640;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-members-button:hover {
    background-color: darksalmon;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.show {
    display: block;
}


.projectIcon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.projectIcon img {
    display: block;
}

.delete-image-button {
    position: absolute;
    top: 0;
    right: -10px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s, background 0.3s;
}

.projectIcon:hover .delete-image-button {
    opacity: 1;
}

.delete-image-button:hover {
    background: darksalmon;
    color: #fff;
}

.delete-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.delete-member{
    color: black;
}
.secondary-nav-button {
    margin: 0 1px;
    background-color: #e9ecef;
    color: darksalmon;
    padding: 3px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.secondary-nav-button:hover {
    background-color: #7f8fa6;
    color: #333333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.btn-primaryForProject {
    position: absolute;
    margin-top: 30px;
    margin-left: 350px;
}

.secondary-navbarForPro {
    position: fixed;
    top: 60px; /* Adjust based on navbar height */
    left: 200px; /* Width of the sidebar */
    right: 0;
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px; /* Adjust for vertical padding */
    list-style: none;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.descriptionPar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f9;
    box-shadow: 0 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 500px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: wrap;
    overflow: auto;
}

.descriptionPar::-webkit-scrollbar {
    display: none;
}

.descriptionPar {
    scrollbar-width: none;
}

.projectTitle {
    word-break: break-word;
    word-wrap: break-word;
    white-space: wrap;
}

.serachForPopup {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.search-bar {
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #7f8fa6;
    width: 200px;
    color: black;
}

.titleAndx {
    position: absolute;
    right: 20px;
    margin: 10px;
}
