/* src/components/Sidebar.css */

.sidebar {
    position: fixed;
    padding: 10px;
    top: 60px; /* Height of the top navbar */
    left: 0;
    width: 200px; /* Width of the sidebar */
    bottom: 0; /* Extend to the bottom */
    background-color: #fff;
    z-index: 998;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: hidden; /* Optional: to handle overflow */
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

/* Line above the "Settings" item */
.settings-line {
    border-top: 3px solid #0b0a0a;
    margin: 5px 0; /* Adjust margin to reduce space above and below the line */
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    cursor: pointer;
}

.menu-list {
    position: absolute;
    right: 0;
    top: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
}

.dropdown-list {
    padding-left: 20px;
}