/* src/components/Sidebar.css */

.sidebar {
    position: fixed;
    padding: 10px;
    top: 60px; /* Height of the top navbar */
    left: 0;
    width: 200px; /* Width of the sidebar */
    bottom: 0; /* Extend to the bottom */
    background-color: rgba(149, 162, 182, 0.8);
    z-index: 998;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    overflow-y: hidden; /* Optional: to handle overflow */
}

.sidebar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;

}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

/* Line above the "Settings" item */
.settings-line {
    border-top: 3px solid #0b0a0a;
    margin: 5px 0; /* Adjust margin to reduce space above and below the line */
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-container {
    position: relative;
}

.menu-toggle {
    font-weight: bolder;
    letter-spacing: 1px;
    padding-left: 10px;

}
.menu-toggle:hover{
    color: #7f8fa6;
    border: #7f8fa6;
}

.menu-list {
    position: absolute;
    right: 0px;
    top: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    list-style: none;
    color: black;
    line-height: 20px;
}

.dropdown-list {
    padding-left: 20px;
}
.rotate-180{
    transform: rotate(180deg);
}
.bg-pink-100{
    background: #fae6ff;
}

.display-dots{
    display:block;
}