html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents overall scrolling */
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secondary-navbar {
    position: fixed;
    top: 60px; /* Adjust based on navbar height */
    left: 200px; /* Width of the sidebar */
    right: 0;
    z-index: 999;
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0; /* Adjust for vertical padding */
}
.secondary-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.secondary-nav-item {
    margin: 0 15px;
}

.secondary-nav-item .nav-link {
    color: #000;
    text-decoration: none;
}


.main-content {
    margin-top: 10px; /* Height of top navbar */
    margin-left: 200px; /* Width of the sidebar */
    padding: 20px;
    flex-grow: 1;
    overflow-y: hidden; /* Allows scrolling only within this area */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
