html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents overall scrolling */
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secondary-navbar {
    position: fixed;
    top: 60px; /* Adjust based on navbar height */
    left: 270px; /* Width of the sidebar */
    right: 0;
    z-index: 999;
    background-color: #e9ecef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0; /* Adjust for vertical padding */
}

.secondary-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.secondary-nav-item {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    font-size: 24px;
    border-left: solid 1px #ccc;
    padding-right: 20px;

}

.secnav-link {
    text-decoration: none;
    color: black; /* Default color */
    margin-left: 30px;
}

.main-content {
    margin-top: 70px; /* Height of top navbar and secondary navbar */
    margin-left: 200px; /* Width of the sidebar */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto; /* Allows scrolling within this area */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.main-content::-webkit-scrollbar {
    background-color: #ffffff;
}

.secondary-nav-button {
    margin: 0 1px;
    background-color: #e9ecef;
    color: #E9967A; /* Dark salmon color */
    padding: 3px;
    font-weight: bold;
    letter-spacing: 1px;
}

.secondary-nav-button:hover {
    background-color: #7f8fa6;
    color: #333333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.add-board-button {
    margin-left: 25px;
    padding: 5px 10px;
    background: none;
    color: #0b0a0a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

.add-board-button:hover {
    background: #E9967A; /* Dark salmon color */
    color: #ffffff;
}
.dropDownInAddBoard{
    background-color: white;
    color: #3a3a3c;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid darksalmon;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 15px;
    width: 200px;
}
.dropdownaddboard {
    position: absolute;
    top: 100%;
    left:400px;
    margin-left: 500px;
    background-color: #e9ecef;
    padding: 10px;
    border: 1px solid #e9ecef;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.dropdownaddboard input {
    margin-bottom: 10px; /* Increased space for clarity */
    padding: 5px;
}

.dropdownaddboard button {
    padding: 5px 10px;
    background-color: #E9967A; /* Dark salmon color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start; /* Align button to the left */
}

.dropdownaddboard button:hover {
    background-color: #0b0a0a; /* Darker color on hover */
}

.board-container {
    position: relative;
}

.delete-board-button {
    display: none;
    margin-left: 10px;
    position: absolute;
    top: 100%; /* Position it just below the board name */
    left: 0;
    background-color: #E9967A; /* Dark salmon color */
    color: white;
    border: none;
    padding: 8px 16px; /* Increase padding for a bigger button */
    font-size: 14px; /* Increase font size */
    border-radius: 4px;
    cursor: pointer;
}

.board-container:hover .delete-board-button {
    display: inline-block; /* Show the button when the board is hovered */
}

.delete-board-button:hover {
    background-color: #0b0a0a; /* Darker color on hover */
}

.more-boards-dropdown {
    position: relative;
    display: inline-block;
}

.show-more-button {
    margin-left: 20px;
    padding: 5px 10px;
    background: none;
    color: #0b0a0a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.show-more-button:hover {
    background: #E9967A; /* Dark salmon color */
}

.dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    padding: 0; /* Remove default padding */
    list-style: none; /* Removes bullet points or dots from list items */
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    width: 100%; /* Ensure each item takes full width */
    display: flex;
    justify-content: center; /* Center the text horizontally */
    text-align: center; /* Ensure the text itself is centered */
}

.dropdown-content .secnav-links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .secnav-links:hover {
    background-color: #f1f1f1;
}
