.user-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 90%;
    position: relative;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.profile-info h2 {
    margin: 0;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-buttons .btn {
    width: 100%;
}

.Reset-Btn:hover .Reset-Icon,
.LogOut-Btn:hover .LogOut-Icon {
    color: white; /* Change the color to red on hover */
}

.Reset-Btn, .LogOut-Btn {
    color: inherit; /* Inherit the button's base color */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Change the color of the icon and text on hover */
.Reset-Btn:hover, .Reset-Btn:hover .Reset-Icon,
.LogOut-Btn:hover, .LogOut-Btn:hover .LogOut-Icon {
    color: black !important; /* Ensure red color on hover */
}


/* New styles for password field and buttons */
.password-field-group {
    border: 3px solid darksalmon;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.password-field-group .form-control {
    border: none;
    box-shadow: none;
}

.password-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px; /* Adjust margin as needed */
}

.password-buttons .btn {
    flex: 1;
}

.Reset-Btn:active,
.LogOut-Btn:active{
    background-color: #4f4f4f !important; /* Color when button is pressed */
    color: white !important;
}

.custom-password-field{
    background-color: white !important; /* Red background color */
}

.custom-password-field::placeholder{
    color: #DCDDE1 !important;
    font-size: 16px;
}

.new-passwordL{
    color: #544e4e !important;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it appears above other content */
}

.loading-overlay p {
    margin-top: 10px;
    font-size: 1.2em;
}

.Reset-Email-Btn{
    width: 438px !important;
    margin-left: 11px !important;
    background-color: red !important;
}

.Reset-Email-Btn:hover{
    color: white !important;
}