/* members.css */
.member-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 400px;
    overflow-y: auto;
}

.member-list::-webkit-scrollbar {
    display: none;
}

.member-list {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.member-item-on-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border: 1px solid #e9967a; /* Dark salmon border */
    border-radius: 8px;
    background-color: #ffffff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 340px;
}

.member-item-on-project:hover {
    background-color: #f8f9fa; /* Light gray background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
}

.member-name {
    font-size: 16px;
    font-weight: 600;
    color: #333; /* Dark gray color for name */
}

.member-role {
    font-size: 14px;
    color: #666; /* Medium gray color for role */
}

@media (max-width: 768px) {
    .member-item-on-project {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkbox-container {
        margin-bottom: 8px;
    }

    .member-name {
        font-size: 14px;
    }

    .member-role {
        font-size: 12px;
    }
}

.member-item-on-project.selected {
    background-color: #e9967a; /* Dark salmon background for selected item */
    color: #ffffff; /* White text color for selected item */
}
