/* User Card Styles */
.user-card {
    border: 1px solid #ddd; /* Light border for card */
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.2s;
    max-height: 300px; /* Set a max height to control the card size */
    background-color: #fff; /* White background for cards */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.card-title {
    font-size: 1.25rem; /* Slightly smaller font size */
    font-weight: bold;
    color: #E9967A; /* Dark salmon color */
}

.card-subtitle {
    font-size: 1.1rem; /* Slightly smaller font size */
    color: #6c757d; /* Muted text color */
}

.card-text {
    /*font-size: 0.9rem;*/
    /*margin-bottom: 0.5rem; !* Add some margin for spacing *!*/
    color: #333; /* Dark grey color for text */
}

.btn-info {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background-color: #E9967A; /* Dark salmon background */
    border-color: #E9967A; /* Dark salmon border */
}

.btn-info:hover {
    background-color: #d78b6b; /* Slightly darker salmon */
    border-color: #d78b6b; /* Darker salmon border */
}

.text-muted {

    color: #6c757d; /* Muted text color */
}

.container {
    background-color: #f8f9fa; /* Light grey background for the container */
}

h2 {
    color: #E9967A; /* Dark salmon color for title */
}
